<mat-card>
  <mat-toolbar>Template Form</mat-toolbar>

  <br><br>
  <form name="form" #userform="ngForm" (ngSubmit)="userform.form.valid && getvalues(userform)" novalidate>

    <mat-form-field>
    <input
    type="text"
    matInput
    required
    [(ngModel)]="model.username"
    name="username"
    #username="ngModel"
    minlength="5"
    [ngClass]="{'is-invalid':userform.submitted && username.invalid}">

   </mat-form-field>


  <mat-error *ngIf="userform.submitted && username.invalid">

  <mat-error *ngIf="username.errors?.required">
    Name should be entered
  </mat-error>


  <mat-error *ngIf="username.errors?.minlength">
    Name should be greater than 5 characters
  </mat-error>

  </mat-error>
  <br><br>



  <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>


</mat-card>
